/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--darkColor);
}

html {
  --darkColor: #21243d;
  --primaryColor: #ff6464;
  --lightColor: #8695a4;
  --bgColor: #edf7fa;
}

body {
  font-family: 'Heebo', sans-serif;
}

.container {
  max-width: 680px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.main-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;

  margin-bottom: 55px;
}

/* / Global */

/* Header */

.header {
  padding-top: 30px;
  margin-bottom: 140px;
}

.menu__list {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.menu__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;

  color: #000000;
  transition: color 0.2s;
}

.menu__link:hover {
  color: var(--primaryColor);
}

/* /Header */

/* Posts */

.posts {
  margin-bottom: 130px;
}

.recent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 7px 0 2px;
}

.recent__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #00a8cc;
  transition: color 0.2s;
}

.recent__link:hover {
  color: #007d99;
}

.card {
  padding-bottom: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 4px;

  border-bottom: 1px solid #e0e0e0;
}

.card__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;

  margin-bottom: 20px;
}

.card-items {
  display: flex;
  margin-bottom: 15px;
}

.card-items__date,
.card-items__themes {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
}

.card-items__date {
  padding-right: 20px;
  border-right: 1px solid #000000;
}

.card-items__themes {
  padding-left: 20px;
  color: var(--lightColor);
}

@media (max-width: 768px) {
  .recent {
    justify-content: center;
  }

  .recent__link {
    display: none;
  }
}

/* / Posts */

/* Footer */

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;

  margin-bottom: 26px;
}

.footer-list__link path {
  transition: fill 0.2s;
}

.footer-list__link:hover path {
  fill: var(--primaryColor);
}

.footer-copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  margin-bottom: 50px;
}

/* / Footer */
