/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--darkColor);
}

html {
  --darkColor: #21243d;
  --primaryColor: #ff6464;
  --lightColor: #8695a4;
  --bgColor: #edf7fa;
}

body {
  font-family: 'Heebo', sans-serif;
}

.container {
  max-width: 858px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.main-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;

  margin: 15px 0;
}

/* / Global */

/* Header */

.header {
  padding-top: 30px;
  margin-bottom: 140px;
}

.menu__list {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.menu__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;

  color: #000000;
  transition: color 0.2s;
}

.menu__link:hover {
  color: var(--primaryColor);
}

/* /Header */

/* About */

.about {
  margin-bottom: 70px;
}

.john {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creative {
  max-width: 500px;
}

.creative__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;

  margin-bottom: 40px;
}

.creative__subtitle {
  margin-bottom: 40px;
}

.creative__btn {
  display: block;
  padding: 10px 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 29px;

  border: none;
  border-radius: 2px;

  background-color: var(--primaryColor);
  cursor: pointer;
  transition: background-color 0.2s;

  color: #ffffff;
}

.creative__btn:hover {
  background-color: #fd5050;
}

.creative__btn:hover:active {
  background-color: #fd4141;
}

.elipses {
  position: relative;
}

.elipses__man {
  position: relative;
  z-index: 1;
}

.elipses__gray {
  position: absolute;
  top: 13px;
  right: 5px;
}

@media (max-width: 768px) {
  .john {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .creative {
    margin: 0 auto;
    text-align: center;
  }

  .creative__btn {
    margin: 0 auto;
  }

  .elipses {
    margin-bottom: 35px;
  }
}

/* / About */

/* Posts */

.posts {
  padding-bottom: 32px;
  background: #edf7fa;
}

.recent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 7px 0 2px;
}

.recent__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #00a8cc;
  transition: color 0.2s;
}

.recent__link:hover {
  color: #007d99;
}

.make-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  padding: 25px;
  background-color: #fff;
  border-radius: 4px;
}

.card__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;

  margin-bottom: 17px;
}

.card-items {
  display: flex;
  margin-bottom: 12px;
}

.card-items__date,
.card-items__themes {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.card-items__date {
  padding-right: 20px;
  border-right: 1px solid #000000;
}

.card-items__themes {
  padding-left: 20px;
}

@media (max-width: 768px) {
  .recent {
    justify-content: center;
  }

  .recent__link {
    display: none;
  }

  .make-cards {
    grid-template-columns: 1fr;

    max-width: 600px;
    margin: 0 auto;
  }
}

/* / Posts */

/* Works */

.works {
  margin-bottom: 130px;
}

.feature-card {
  display: flex;
  align-items: center;

  border-bottom: 1px solid #e0e0e0;

  padding-bottom: 30px;
  margin-bottom: 30px;
}

.feature-card__img {
  display: block;
  max-width: 246px;

  margin-right: 18px;

  border-radius: 6px;
}

.dashboard__title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;

  margin-bottom: 15px;
  transition: color 0.2s;
}

.dashboard__title:hover {
  color: var(--primaryColor);
}

.dashboard-coup {
  margin-bottom: 20px;
}

.dashboard-coup__num {
  font-weight: 900;
  font-size: 18px;

  padding: 2px 10px;
  margin-right: 26px;

  background-color: #142850;
  border-radius: 16px;

  color: #ffffff;
}

.dashboard-coup__word {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;

  color: #8695a4;
}

.dashboard-coup {
  display: flex;
}

@media (max-width: 768px) {
  .main-title {
    text-align: center;
  }

  .feature-card {
    display: block;
    max-width: 340px;
    margin: 0 auto 30px;
  }

  .feature-card__img {
    max-width: 100%;
    margin-bottom: 15px;
  }
}

/* / Works */

/* Footer */

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;

  margin-bottom: 26px;
}

.footer-list__link path {
  transition: fill 0.2s;
}

.footer-list__link:hover path {
  fill: var(--primaryColor);
}

.footer-copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  margin-bottom: 50px;
}

/* / Footer */
