* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--darkColor);
}

html {
  --darkColor: #21243d;
  --primaryColor: #ff6464;
  --lightColor: #8695a4;
  --bgColor: #edf7fa;
}

body {
  font-family: 'Heebo', sans-serif;
}

.container {
  max-width: 680px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  margin-bottom: 55px;
}

/* Header */

.header {
  padding-top: 30px;
  margin-bottom: 140px;
}

.menu__list {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.menu__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;

  color: #000000;
  transition: color 0.2s;
}

.menu__link:hover {
  color: var(--primaryColor);
}

/* /Header */

/* Works */

.works {
  margin-bottom: 130px;
}

.feature-card {
  display: flex;
  align-items: center;

  border-bottom: 1px solid #e0e0e0;

  padding-bottom: 50px;
  margin-bottom: 40px;
}

.feature-card__img {
  display: block;
  max-width: 246px;

  margin-right: 18px;

  border-radius: 6px;
}

.dashboard__title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;

  margin-bottom: 20px;
  transition: color 0.2s;
}

.dashboard__title:hover {
  color: var(--primaryColor);
}

.dashboard-coup {
  margin-bottom: 20px;
}

.dashboard-coup__num {
  font-weight: 900;
  font-size: 18px;

  padding: 2px 10px;
  margin-right: 26px;

  background-color: #142850;
  border-radius: 16px;

  color: #ffffff;
}

.dashboard-coup__word {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;

  color: #8695a4;
}

.dashboard-coup {
  display: flex;
}

@media (max-width: 768px) {
  .main-title {
    text-align: center;
  }

  .feature-card {
    display: block;
    max-width: 340px;
    margin: 0 auto 30px;
  }

  .feature-card__img {
    max-width: 100%;
    margin-bottom: 15px;
  }
}

/* / Works */

/* Footer */

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;

  margin-bottom: 26px;
}

.footer-list__link path {
  transition: fill 0.2s;
}

.footer-list__link:hover path {
  fill: var(--primaryColor);
}

.footer-copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  margin-bottom: 50px;
}

/* / Footer */
